@import './variables.scss';
@import './sidebar.scss';
html{
    box-sizing: border-box;
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
}
#app{
    height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
.main-container{
    margin-left: 180px;
    height: 100%;
}
.el-menu--vertical {
    &>.el-menu {
      .svg-icon {
        margin-right: 16px;
      }
    }
  }