@import './variables.scss';
@import './sidebar.scss';
@import './transitions.scss';
html{
    box-sizing: border-box;
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
}
#app{
    height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
.main-container{
    transition: margin-left 0.28s;
    margin-left: 180px;
    height: 100%;
}
a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}
